.container-signup {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-class-container {
    display: flex;
    justify-items: flex-start;
}
.upper-text {
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 20px;
    color: #000000;
}
.email-input {
    box-sizing: border-box;
    background: #ffffff;
    border: 0.5px solid #000000;
    width: 305px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    text-align: left;
    text-transform: capitalize;
    padding: 2px 5px;
    color: #000000;
}
.email-input:focus {
    outline: none;
}

.the-button {
    margin-top: 30px;
    background: #ad1b2e;
    border: none;
    padding: 2px 5px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
}

.the-button:hover {
    background-color: #b4515f;
}
.the-button:disabled {
    background-color: #b4515f;
}

.small-text {
    margin-top: 20px;
    cursor: pointer;
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;

    color: #ad1b2e;
}
