.new-product-container {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-product-container > input {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 15px;
    min-width: 300px;
    color: #000000;
    outline: none; /* Rectangle 162 */
    border: none;
    background: #eeeeee;
    color: #000000;
    margin: 10px;
}

.new-product-container > button {
    background: #ad1b2e;
    border: none;
    padding: 10px 15px;
    width: 210px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    text-align: center;
    text-transform: capitalize;
    transition: all 0.2s linear;

    color: #ffffff;
}

.new-product-container > button:hover,
.new-product-container > button:disabled {
    background-color: #b4515f;
}
